{% extends 'layouts/base.html' %}
{% block title %}Home - OLDFROM{% endblock %}
{% block content %}
<section class="welcome-section">
    <h2>Selamat Datang di OLDFROM</h2>
    <p class="description">
        Kami adalah penyedia layanan yang siap membantu mewujudkan liburan impian Anda dengan menyediakan berbagai kebutuhan wisata,
        seperti paket perjalanan, akomodasi, dan pengalaman wisata tak terlupakan. Fokus utama kami adalah mendukung wisatawan
        untuk menjelajahi keindahan alam, budaya, dan destinasi menarik, baik dengan konsep tradisional maupun modern, dengan layanan
        yang lengkap dan berkualitas terbaik
    </p>
</section>
{% endblock %}
