{% extends 'layouts/base.html' %}
{% block title %}Tambah Produk - OLDFROM{% endblock %}
{% block content %}
<h2>Tambah Wisata</h2>
<form method="post">
    <label for="name">Tempat Wisata</label>
    <input type="text" id="name" name="name" required>

    <label for="description">Deskripsi</label>
    <textarea id="description" name="description"></textarea>

    <label for="price">Harga</label>
    <input type="number" id="price" name="price" step="0.01" required>

    <label for="image">URL Gambar</label>
    <input type="url" id="image" name="image">

    <button type="submit">Simpan</button>
</form>
{% endblock %}
